@font-face {
	font-family: 'BebasNeue'; /* Define your font family name */
	src: url('../includes/BebasNeue-Regular.ttf') format('truetype'); /* Path to your .ttf font file */
  }

html, body {
    background-size: cover;
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

#coobdev {
	width: 100%;
	height: 100%;
	background-color: blue;
}

.header-container { /* header stuff */
	z-index: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;  
  position: relative;
  overflow: hidden;
} 
.header {
  display: flex; /* Use flexbox to create a horizontal layout */
  flex-direction: row;
  justify-content: space-between; /* Center the items horizontally */
  align-items: center;
  gap: auto;
  width: 100%; 
  height: 100%;
  background-color: black;
}
.logo-container, .buttons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}
.logo-container {
	background-color: red;
	width: 400px;
	
}
.buttons-container {
	background-color: blue;
	width: 650px;
	justify-content: flex-end; /* snap to right end */
}
.button {
	background-color: white;
	height: auto;
	padding: 10px 8%;
	margin: 10px 2%;
	text-align: center;
	justify-content: center;
	border-radius: 50px;
}

.button-large {
	width: auto;
}
.button-widget {
	min-width: 20px;
	padding: 10px;
	margin: 10px 8px;
}
.button-widget:first-child {
	margin-left: 20px;
}
.button-widget:last-child {
	margin-right: 20px;
}

.Profile-picture {
	background-color: white;
	width: 20px;
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.Settings {
	background-size: cover;
	background-position: center;
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 1000px) {
	.name {
		display: none;
	}
	.logo-container {
		width: auto;
	}
}

@media screen and (max-width: 690px) {
	.header {
		justify-content: center;
		gap: none;
		width: 100%;
	}
	.buttons-container {
		width: 100%;
		justify-content: center;
	}
	.button-widget {
		display: none;
	}
    .logo-container {
		width: 0px;
    	display: none;
    }
	.button {
		margin: 10px 5%;
	}
}

.icon {
	margin: 5px;
    position: relative;
	height: 100%;
	width: auto;
}

.name {
	margin: 10px;
	margin-left: 0px;
    position: relative;
	height: auto;
	width: auto;
	font-family: 'BebasNeue', sans-serif;
	font-size: 40px;
}



/* Define scrollbar track */
#menu-content::-webkit-scrollbar-thumb {
    background: black;
}




.unselectable {
	user-select: none;
}


#menu {
	width: 200px;
	height: 90vh;
	display:flex;
	flex-direction: column;
	position: absolute;
	background: blue;
	color: black;
	transform: translateX(-200px);
	transition: transform 0.3s ease-in; /* Apply transition effect */
	z-index: 2;
}

#menu.active {
	transform: translateX(0px);
}


#menu-pullout {
	background: blue;
	color: white;
	position:relative;
	left: 85%;
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.2s ease-in; /* Apply transition effect */
	transform: rotate(0deg);

	justify-content: center;
	text-align: center;
}
#menu-pullout.active {
	transform: rotate(180deg);
}
#menu-pullout img {
	width: 100%;
	height: 100%;
}

#menu-title {
	width: 95%;
	height: max-content;
	padding: 5%;
	padding-right: 0%;
	padding-top: 20%;
	position: sticky;
}
#menu-content {
	background-color: red;
	width: 95%;
	padding-left: 5%;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow:scroll;
	overflow-x: hidden;
}
#menu-content a {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
	width: 100%;
	position: relative;
	display: block;
	white-space: wrap;
	margin-top: 5px;
}



.menu-dropdown-content {
	padding-left: 7%;
	display: flex;
	flex-direction: column;
	height: 0px;
	opacity: 0;
	transform: translateX(-10px);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.menu-dropdown-content.active {
	opacity: 1;
	height: auto;
	transform: translateX(0px);
}



#menu a:hover {
	background-color: white;
	text-decoration: underline;

}

#page-contents {
	width: 100%;
	height: auto;
	position:relative;
	display: flex; /* Establish flex container */
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	align-items: center;
	overflow: hidden;
	background-color: red;
	justify-content: center;
	padding: 20px;
}

#page-header {
	z-index: 1;
	background-color: green;
	position: absolute;
	width: 100%;
	text-align: center;	
	top: 0;
	right: 0;
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: 2px black solid;
}
#page-title {
	margin: 5px;
}

.card-container {
	padding: 50px;
    width: 90%;
    height: auto;
	justify-content: center;
	align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Auto-fill columns with a minimum width of 200px */
	flex-grow: 1;
    grid-gap: 10px; /* Gap between grid items */
	overflow: hidden;
}

.card {
    position: relative;
	display: flex;
	flex-direction: column;
    background-color: blue;
    width: 200px; /* Set minimum width to maintain consistency */
    height: 200px; /* Set minimum height to maintain consistency */
    border-radius: 15px;
    padding: 10px;

}

.card-title {
	font-family: 'BebasNeue', sans-serif;
	text-align: left;
	height: max-content;
	padding: 0;
	margin: 0;
}

.card a:first-child {
	display:block;
	position: absolute; /* Make it behave like a block-level element */
	width: 100%; /* Set width as needed */
	height: 100%; /* Set height as needed */
	right: 5px;
	bottom: 5px;
	justify-content: center;
	margin: 0;
	gap: 0;
	opacity: 0;
}


.card-subsection {
	width: 100%;
	min-height: 100px;	
	height: auto;
	position: relative;
	background-color: white;
}


.card-divider-vport {
	position: relative;
	width: 85vw;
	height: 2px;
	background-color: black;
	margin: 10px;
	align-self: center;
	justify-self: center;
}








#footer {
	width: 100%;
	height: 100px;
	bottom: 0;
	background-color: black;
	position: fixed;
	z-index:1

}
